
#toast-container {
    position: fixed;
    bottom: 75px;
    z-index: 9999;
}

.toast {
    background-color: var(--destructive);
    color: var(--foreground);
    font-family:  var(--font-family);
    font-size: var(--text-sm);
    padding: 16px 24px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s, transform 0.5s;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}
